z;ld;snp;config;cred;log;n_samples
sim.z;/project2/mstephens/yuxin/dsc_susierss/dsc_output/susierss_ukb_REF1000_pve_n/get_sumstats_n/small_data_11_sim_gaussian_pve_n_8_get_sumstats_n_1.ld_sample_n_file.in_n.ld;sim.snp;sim.config;sim.cred;sim.log;800
