z;ld;snp;config;cred;log;n_samples
sim.z;/project2/mstephens/yuxin/dsc_susierss/dsc_output/susierss_ukb_REF1000_pve_n/small_data/small_data_11.ld_sample_file.sample.ld;sim.snp;sim.config;sim.cred;sim.log;800
